# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List Popular languages used by Data Scientists
* List Commonly used libraries in Data Science
* List Data Science Tools
* List few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. C++
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. matplotlib
4. seaborn
5. scikit-learn
6. keras
7. Tensorflow
8. Pytorch

| Data Science Tools |
| ------------------ |
| MySQL |
| MongoDB |
| Apache Airflow |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [84]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [86]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Vasanthan M R